APP_NAME=Laravel
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost

DB_CONNECTION=mysql
DB_HOST=ticket-pembayaran-db
DB_PORT=3306
DB_DATABASE=102022400251_ticket_pembayaran_service
DB_USERNAME=root
DB_PASSWORD=rootpassword

REDIS_HOST=ticket-pembayaran-redis

IAE_SSO_URL=https://iae-sso.virtualfri.id
IAE_API_KEY=KEY-MHS-264
IAE_TEAM_ID=TEAM-12
IAE_NIM=102022400251
